<!DOCTYPE html>
<html>
<head>
    <title>Anna Propas</title>
    <link rel="stylesheet" href="/css/uikit.min.css">
    <link rel="stylesheet" href="/css/uikit-rtl.min.css">
    <script src="/js/main.js"></script>
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
</head>
<body>
    <nav class="uk-navbar-container" uk-navbar id="top">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="#skills" uk-scroll>Skills</a></li>
                <li><a href="#about" uk-scroll>About Me</a></li>
                <li><a href="#portfolio" uk-scroll>Portfolio</a></li>
                <li><a href="#contact" uk-scroll>Contact</a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a href="https://www.linkedin.com/in/anna-propas-388606106/">LinkedIn</a></li>
                <li><a href="https://github.com/AnnaBNana">Github</a></li>
            </ul>
        </div>
    </nav>
    <div class="heading-container">
        <img src="imgs/headshot.png" alt="headshot of Anna Propas" class="headshot">
        <h1 class="heading uk-heading-hero title">Anna Propas</h1>
        <h2 class="uk-heading-bullet subtitle">Engineer, Educator, Hackathon Addict</h2>
    </div>
    <div class="section" id="skills">
        <div class="uk-width-1-2@s">
            <div class="arrow-block" uk-scrollspy="cls:uk-animation-fade; repeat:true; delay: 100">
                <a href="#top" class="uk-icon-button scroll-btn" uk-icon="chevron-up" uk-scroll></a>
                <p>Top</p>
            </div>
            <div class="uk-container skills-list">
                <h1 class="uk-heading uk-text-center section-header">Skills</h1>
                <div class="uk-grid-small uk-child-width-1-1@s uk-flex-center uk-text-center" uk-grid>
                    <div>
                        <p class="uk-align-left">Python</p>
                        <progress class="uk-progress" value="8" max="10"></progress>
                    </div>
                </div>
                <div class="uk-grid-small uk-child-width-1-1@s uk-flex-center uk-text-center" uk-grid>
                    <div>
                        <p class="uk-align-left">JavaScript</p>
                        <progress class="uk-progress" value="7" max="10"></progress>
                    </div>
                </div>
                <div class="uk-grid-small uk-child-width-1-1@s uk-flex-center uk-text-center" uk-grid>
                    <div>
                        <p class="uk-align-left">Swift</p>
                        <progress class="uk-progress" value="5" max="10"></progress>
                    </div>
                </div>
                <div class="uk-grid-small uk-child-width-1-1@s uk-flex-center uk-text-center" uk-grid>
                    <div>
                        <p class="uk-align-left">Ruby</p>
                        <progress class="uk-progress" value="5" max="10"></progress>
                    </div>
                </div>
            </div>
    
            <div class="arrow-block" uk-scrollspy="cls:uk-animation-fade; repeat:true; delay: 200">
                <p>About Me</p>
                <a href="#about" class="uk-icon-button scroll-btn" uk-icon="chevron-down" uk-scroll></a>
            </div>
        </div>
    </div>
    <div class="section" id="about">
        <div>
            <div class="arrow-block" uk-scrollspy="cls:uk-animation-fade; repeat:true; delay: 100">
                <a href="#top" class="uk-icon-button scroll-btn" uk-icon="chevron-up" uk-scroll ></a>
                <p>Top</p>
            </div>
            <h1 class="uk-heading uk-text-center section-header">About Me</h1>
            <p >Hi there! My name is Anna. I'm a web engineer and an educator. I work at Coding Dojo, a unique fast-paced 14-week bootcamp where students learn three full web and/or mobile stacks. I'm passionate about teaching, learning, and new technologies!</p>
            <p>I'm a big fan of Python, and I like to dabble in JavaScript from time to time. I've built some stuff you can look at in Python with Django or Flask, Node.js and Swift. The mobile apps aren't quite ready for prime-time yet, but I'm spending 2018 getting better at mobile app development.</p>
            <p>I might be a giant nerd, but I do other stuff, too. I have a horse and am very close with my family. I like spending my free time with the people and animals I love the most. In my previous professional life I've worked a lot with animals.</p>
            <p>As for my web development qualifications, I'll let my work speak for itself. </p>
            <div class="arrow-block" uk-scrollspy="cls:uk-animation-fade; repeat:true; delay: 200">
                <p>Portfolio</p>
                <a href="#portfolio" class="uk-icon-button scroll-btn" uk-icon="chevron-down" uk-scroll></a>
            </div>   
        </div>
    </div>
    <div class="section" id="portfolio">
        <div>
            <div class="arrow-block" uk-scrollspy="cls:uk-animation-fade; repeat:true; delay: 100">
                <a href="#top" class="uk-icon-button scroll-btn" uk-icon="chevron-up" uk-scroll></a>
                <p>Top</p>
            </div>
            <h1 class="uk-heading uk-text-center section-header">Portfolio</h1>
            <p>I've been building projects for as long as I've been coding. I believe it's the best way to learn practical skills. Maybe it's not the only way, but it sure has fast-tracked my own knowledge, and as a bonus, it's fun! Below you'll find a variety of projects. Most are either hackathon projects or work done for clients. I've limited my revision of the hackathon projects to accurately reflect the feature set built during that time limit. Modifications include some refactoring for clarity as well as bug fixes in existing features.</p>
            <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match projects" uk-grid>
                <a href="https://www.annapropas.com">
                    <div class="uk-card uk-card-default uk-card-hover" uk-scrollspy="cls:uk-animation-fade; repeat: true; delay: 100">
                        <div class="uk-card-media-top">
                            <img src="imgs/penguinss.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Peguin Pens</h3>
                            <p>E-commerce site for client.</p>
                        </div>
                    </div>
                </a>
                <a href="https://mycohort.annapropas.com">
                    <div class="uk-card uk-card-default uk-card-hover" uk-scrollspy="cls:uk-animation-fade; repeat: true; delay: 200">
                        <div class="uk-card-media-top">
                            <img src="imgs/mycohortss.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">My Cohort</h3>
                            <p>For-fun project to help me create and track groups of students. I actually use this pretty often when I'm teaching a class.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow-block" uk-scrollspy="cls:uk-animation-fade; repeat:true; delay: 200">
                <p>Contact</p>
                <a href="#contact" class="uk-icon-button scroll-btn" uk-icon="chevron-down" uk-scroll></a>
            </div>
        </div>
            
    </div>
    <div class="section" id="contact">
        <div>
            <div class="arrow-block" uk-scrollspy="cls:uk-animation-fade; repeat:true; delay: 100">
                <a href="#top" class="uk-icon-button scroll-btn" uk-icon="chevron-up" uk-scroll></a>
                <p>Top</p>
            </div>
            <div>
                <h1 class="uk-heading uk-text-center section-header">Contact Me</h1>
                <form class="uk-form-stacked" action="/test" method="post">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Your Email:</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-width-large" id="form-stacked-text" type="email" name="email">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Subject:</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-width-large" id="form-stacked-text" type="text" name="subject">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Text:</label>
                        <div class="uk-form-controls">
                            <textarea class="uk-textarea" rows=5 name="text"></textarea>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <input type="submit" class="uk-button uk-button-default">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>